.navbar{
    background-color : #0064A4;
    color : white;

    height: 75px;
    font-family: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar img {
    max-width: 100%;
    height: auto;
    display: block; /* Removes extra space below inline images */
    margin: 0 auto; /* Center the image if needed */
}

.img-container{
    width:20%;
}

.nav-title{
    color : #ffd200;
    /* text-align: center; */
    margin: auto;
    font-size: xx-large;
    text-decoration: none !important;
    transition: font-size 0.2s ease;
}

.nav-title:hover{
    font-size: 36px;
    cursor: pointer;
}
    

