.input-container {
	display: flex;
	justify-content: center;
	align-items: center;

	/* border: 2px solid red; */
}

#quantity {
	width: 50px; /* Adjust the width as needed */
	padding: 5px;
	font-size: 16px;
}

.search-button {
	background-color: #3498db; /* Blue color */
	color: #fff; /* White text */
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

/* Container */
.course-list-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.review-container {
	/* Flexbox */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	/* Colors */
	background-color: #2c2c2c;

	/* Spacing */
	padding: 20px;

	/* Color */
	color: white;

	/* Font Family */
	font-family: arial;
}

.row-input {
	display: flex;
	align-items: center;
	column-gap: 15px;
	margin-bottom: 15px;
	width: 50%;
}

.professor-label {
	/* text-align: center; */
	margin-right: 10px;
	white-space: nowrap;
}

.number-input {
	width: 10px;
	font-size: 18px;
}

.prof-drop-down {
	padding: 9px;
	font-size: 18px;
	border-radius: 5px;
}

.grade-drop-down {
	text-align: left;
	font-size: 18px;
	padding: 9px;
	border-radius: 5px;
}

.comment-input {
	width: 100%;
	font-size: 15px;
}

.submit-btn {
	border: none;
	border-radius: 5px;
	padding: 10px;
	font-size: 15px;
	background-color: #3498db;
	color: white;
}

.stu-review-container {
	font-family: arial;
	background-color: rgb(99, 99, 99);
	padding: 15px;
	border-radius: 10px;
	color: rgb(232, 232, 232);
	width: 40%;
}

.all-stu-review-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.review-title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 1px solid white;
}

.review-label {
	font-weight: 600;
	font-size: 18px;
}

.review-stats-row {
	margin-top: 15px;
	display: flex;
	column-gap: 15px;
}

.reviews {
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin-bottom: 40px;
}


textarea {
    height: 100px; /* Increase the height to make it bigger */
}
