<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/nav.css" />
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/search.css" />
    <title>Page Not Found</title>
</head>
<body>
    <div class="navbar">
        <a class="nav-title" href="/">RateMyPetr</a>
    </div>
    <h1>Page Not Found</h1>
    <p>The requested page could not be found.</p>
</body>
</html>
