<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RateMyPeter Professor</title>
    <link rel="stylesheet" href="../static/professor.css" />
    <link rel="stylesheet" href="../static/nav.css"/>
    <script src="../static/professor.js" defer></script>
</head>
<body>
    <div class="navbar">
        <a class="nav-title" href="/">RateMyPeter</a>
    </div>
    <div id="infoBox">
        <h1 id="professorName"></h1>
        <p id="professorTitle"></p>
    </div>

    <div id="courseBox">
        <h2>Courses</h2>
        <ul id="courseList"></ul>
    </div>
</body>
</html>
