<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>RateMyPeter Professor</title>
		<link rel="stylesheet" href="../static/search.css" />
		<link rel="stylesheet" href="../static/professor.css" />
		<link rel="stylesheet" href="../static/nav.css" />
		<script src="../static/professor.js" defer></script>
	</head>
	<body>
		<div class="navbar">
			<a class="nav-title" href="/">RateMyPeter</a>
		</div>
		<div id="infoBox">
			<div class="prof-intro">
				<div class="prof-name" id="professorName"></div>
				<div class="prof-title" id="professorTitle"></div>
			</div>

			<div class="prof-stats" id="profStats">
				<div class="stat">
					<div>Average Difficulty</div>
					<div id="avgDifficulty"></div>
				</div>
				<div class="stat">
					<div>Average Enjoyment</div>
					<div id="avgEnjoyment"></div>
				</div>
				<div class="stat">
					<div>Review Count</div>
					<div id="reviewCount"></div>
				</div>
			</div>
		</div>

		<div class="course-list-container" id="course-list-container">
			<table class="course-list">
				<thead>
					<tr>
						<th>Course</th>
						<th>Difficulty</th>
						<th>Enjoyment</th>
						<th>Reviews</th>
					</tr>
				</thead>
				<tbody id="classList"></tbody>
			</table>
		</div>
	</body>
</html>
