<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/nav.css" />
		<link rel="stylesheet" href="../static/global.css" />
		<link rel="stylesheet" href="../static/review.css" />

		<title>RateMyPeter</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="../static/data.js" defer></script>
		<script src="../static/review.js" defer></script>
	</head>

	<body>
		<div class="navbar">
			<a class="nav-title" href="/">RateMyPetr</a>
		</div>
		<div id="userComment">
			<div class="review-container">
				<h2>Write a Review</h2>

				<!-- Input Row -->
				<div class="row-input">
					<!-- Professor Select -->
					<select
						class="prof-drop-down"
						id="professorDropdown"></select>

					<!-- Grade Selection -->
					<select class="grade-drop-down" id="gradeDropdown">
                        <option value="">Grade</option>
						<option value="A">A</option>
						<option value="B">B</option>
						<option value="C">C</option>
						<option value="D">D</option>
						<option value="F">F</option>
						<option value="N/A">N/A</option>
					</select>

					<input
						class="number-input"
						type="text"
						id="difficulty"
						name="number-input"
						placeholder="Difficulty (1-5)" />

					<input
						class="number-input"
						type="text"
						id="enjoyment"
						name="number-input"
						placeholder="Enjoyment (1-5)" />
				</div>
				<div class="row-input second-row">
					<textarea
						class="comment-input"
						type="text"
						id="comment"
						name="comment-input"
						placeholder="What did you think about the class?"></textarea>
				</div>
				<button
					class="submit-btn"
					id="submitReview"
					onclick="submitReview()">
					Submit Review
				</button>
			</div>
		</div>
		<div class="reviews" id="reviews"></div>
	</body>
</html>
