<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="../static/nav.css" />
		<link rel="stylesheet" href="../static/global.css" />
		<link rel="stylesheet" href="../static/search.css" />

		<title>RateMyPeter</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="../static/data.js" defer></script>
		<script src="../static/search.js" defer></script>
	</head>

	<body>
		<div class="navbar">
			<a class="nav-title" href="/">RateMyPeter</a>
			<!-- <div class="img-container">
				<img src="../assets/ptr.png" alt="PetrSticker" style = "width: 5%">
			</div> -->
		</div>

		<!-- Input For Dept & Course Code -->
		<div class="input-container">
			<!-- Drop Down -->
			<div class="dropdown">
				<select class="drop-menu" id="menu"></select>
			</div>

			<!-- Course Code # input-->
			<div class="number-input">
				<input
					placeholder="Class Number (EX: 45C)"
					type="text"
					id="courseNumber"
					name="courseNumber" />
			</div>

			<!-- Search Button (Submit Button) -->
			<button class="search-button" onclick="searchClass()">
				Search
			</button>
		</div>

		<!-- Course Listings -->
		<div
			class="course-list-container"
			id="course-list-container"
			style="display: none">
			<table class="course-list">
				<thead>
					<tr>
						<th>Course</th>
						<th>Difficulty</th>
						<th>Enjoyment</th>
						<th>Reviews</th>
					</tr>
				</thead>
				<tbody id="classList"></tbody>
			</table>
		</div>
	</body>
</html>
